*                            text=auto

tests/**                     -text linguist-vendored
tests/test_uncrustify/**     -linguist-vendored


src/**                       eol=lf
scripts/**                   eol=lf

tests/**/*.cfg               eol=lf

tests/*.test                 eol=lf

*.sh                         eol=lf
*.bat                        eol=crlf